{% extends 'people/people_base.html' %}

{% load staticfiles %}

{% block rel_block %}

<link rel="shortcut icon" href="{% static "images/main_app/ebm_face.png" %}" type="image/x-icon" />
<link rel="icon" href="{% static "images/main_app/ebm_face.png" %}" type="image/gif" />

{% endblock %}

{% block body_content %}

<h1><font color="blue">Edan's Page</h1>

<p><font color="red">If you have any questions, please feel free to contact me at (408) 759-1077 </p>

<p><font color="salamon">Many people did not beleive that I would finish this page, but alas, tis done</p>

<br /><br />

<p>I would like to thank my sponsor <span style="font-size:20px; font-weight:bold">Ofek Gila</span> for lending a page from his website </p>

<p> To visit his website press <a href="/">here </a> </p>

<p> to be slapped in the face:</p>

<p> press <a href="https://mikemcclaughry.files.wordpress.com/2012/09/slapping-hand.jpg"> HERE </a> </p>

{% endblock %}